<%- include('./partials/header') %>

<header>
    <div class="smoothie">
        <img src="/location.png" alt="">
    </div>
    <div class="headings">
        <h2>Real time location tracker</h2>
        <h3>By Santosh Kumar(Group 52)</h3>
        <a href="/smoothies" class="btn">Team Member</a>
    </div>
</header>

<%- include('./partials/footer') %>