<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/man.png" alt="smoothie recipe icon">
    <h4>Santosh Kumar</h4>
    <p>santosh.kr1228@gmail.com, India</p>
  </li>
  <li class="recipe">
    <img src="/man.png" alt="smoothie recipe icon">
    <h4>N G Dumbarilee</h4>
    <p>gideondave@gmail.com, Nigeria</p>
  </li>
  <li class="recipe">
    <img src="/man.png" alt="smoothie recipe icon">
    <h4>Milind Rai</h4>
    <p>milindrai365@gmail.com, India</p>
  </li>
  <li class="recipe">
    <img src="/man.png" alt="smoothie recipe icon">
    <h4>I D Atuma</h4>
    <p>atumadavid@gmail.com, Nigeria</p>
  </li>
  <li class="recipe">
    <img src="/man.png" alt="smoothie recipe icon">
    <h4>M J Saleh</h4>
    <p>jerrymike122@gmail.com, Nigeria</p>
  </li>
  <li class="recipe">
    <img src="/man.png" alt="smoothie recipe icon">
    <h4>King Jr</h4>
    <p>yji0942@gmail.com, Nigeria</p>
  </li>
</ul>

<%- include('partials/footer'); -%>